include header
div(class='wrap')
  
  div(class='content')
    header(class='site-header')
      include site_header
      

    div(class='container')
      include nav
      h2 Hello index page
  
include footer